
.App-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
  background-color: #ffffff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
